.l-admin {
  @apply flex;

  .overload {
    @apply block md:hidden fixed w-screen h-screen top-0 -left-full bg-base-300/90 z-10 duration-75 ease-in-out transition-all;

    &.active {
      @apply left-0;
    }
  }
  aside {
    @apply h-screen flex-none bg-base-100 border-r border-base-300 overflow-hidden duration-300 ease-in-out transition-all w-56 md:relative absolute left-0 top-0 z-10;
    &.active {
      @apply w-12;
    }

    .logo {
      @apply flex items-center justify-center p-2 gap-3;
      &.active {
        @apply gap-0;
      }

      svg {
        @apply h-8 text-primary;
      }

      h1 {
        @apply text-primary text-xl duration-500;
        &.active {
          @apply duration-300;
          font-size: 0;
        }
      }
    }
  }

  > section {
    @apply grow bg-base-300/50 px-0;
    header {
      @apply border-b border-base-300 bg-base-100 flex h-12 items-center justify-between px-5;

      @media only screen and (max-width: 768px) {
        .hamburger {
          @apply left-52 md:left-0 relative;
          &.active {
            @apply left-8;
          }
        }
      }
      .right {
        @apply flex items-center gap-3;
        button {
          @apply px-1 h-8 text-sm rounded-lg;
          &:hover {
            @apply bg-base-200;
          }
        }
      }
    }

    main {
      @apply overflow-auto md:pl-0 pl-12;
      height: calc(100vh - 6rem);
      width: calc(100vw - 14rem);

      h2 {
        @apply text-xl font-bold text-base-content;
      }

      h3 {
        @apply text-lg font-bold;
      }

      .breadcrumbs {
        ul,
        li {
          @apply flex items-center gap-2;
        }
        svg {
          @apply ~'-mt-0.5' size-3;
        }
      }

      .wrapper-flex {
        @apply container mx-auto flex items-center justify-between ~'px-2.5' py-3;
      }
      .wrapper-grid {
        @apply container mx-auto grid grid-cols-12 gap-3 ~'px-2.5';

        .left {
          @apply col-span-12 sm:col-span-4 lg:col-span-3;
        }

        .right {
          @apply col-span-12 sm:col-span-8 lg:col-span-9;
        }

        .card {
          @apply overflow-auto bg-base-100 shadow rounded-2xl;

          .header {
            @apply flex h-14 items-center justify-between border-b border-base-300/60 px-4 py-2;
          }
          .desktop {
            @apply relative hidden overflow-y-auto sm:block;
            height: calc(100vh - 14rem);
            &.has-header {
              @apply block p-3;
            }
          }
          .mobile {
            @apply block p-2 sm:hidden sm:p-0;
          }
          .body {
            @apply overflow-y-auto p-3 ~'sm:min-h-[calc(100vh-10.5rem)]';
          }
        }
      }
      .action {
        @apply flex ~'gap-1.5';

        svg {
          @apply size-5 px-1 fill-base-100 rounded-md;

          &.warning {
            @apply bg-warning hover:bg-warning/50;
          }
          &.success {
            @apply bg-success hover:bg-success/50;
          }
          &.primary {
            @apply bg-primary hover:bg-primary/50;
          }
          &.error {
            @apply bg-error hover:bg-error/50;
          }
        }
      }
      .item {
        @apply flex justify-between items-center h-8;
        > .action {
          @apply flex w-16 justify-end gap-1;

          button {
            @apply opacity-0 transition-all duration-300 ease-in-out;
          }
        }
        &:hover > .action button {
          @apply opacity-100;
        }
      }
    }

    footer {
      @apply w-full ~'pt-1.5' text-center;
    }
  }
}
.ant-dropdown {
  button {
    @apply flex gap-2 items-center;
  }
}
