.ant-input {
  @apply flex items-center border rounded-lg text-base-content;
  &:focus {
    @apply shadow shadow-primary/20 outline-0 bg-base-100;
  }
  input& {
    @apply h-10 w-full bg-base-100 border-base-content/20 px-4;
    &.disabled {
      @apply focus:shadow-none text-base-300;
    }
    &.before {
      @apply rounded-r-lg pl-10;
    }
    &.after {
      @apply rounded-l-lg pr-10;
    }
  }
  textarea& {
    @apply w-full bg-base-100 border-base-content/20 px-4 py-2.5;
  }
  &-outlined.ant-input-status-error:not(.ant-input-disabled) {
    @apply bg-base-300/50;
    &:focus {
      @apply bg-base-300/50;
    }
  }
  div:has(> &) {
    span {
      @apply text-base-content bg-base-100 size-10 flex items-center justify-center rounded-r-lg absolute top-0 border border-l-0 border-base-content/20;

      &.before {
        @apply left-0;
      }
      &.after {
        @apply right-0;
      }
    }
  }
}
.ant-empty {
  .ant-empty-description {
    @apply text-base-content;
  }
}

::placeholder,
.ant-select-selection-placeholder {
  @apply !text-base-content/30;
}

.ant-otp {
  @apply w-full gap-5;
}
.ant-select {
  &-dropdown {
    @apply bg-base-100;
    .ant-select-item {
      @apply text-base-content;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      @apply text-primary bg-primary/10;
    }
  }
  &.ant-select-open .ant-select-selection-item {
    @apply text-base-content;
  }
  &:not(.ant-select-customize-input) .ant-select-selector {
    @apply rounded-lg px-4 border-base-content/20 bg-base-100 text-base-content;
  }
  &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    @apply border-base-content/20;
  }
  &-single {
    @apply h-10;
    &.ant-select-show-arrow .ant-select-selection-item {
      @apply pr-4;
    }
  }
  &-multiple .ant-select-selection-item {
    @apply bg-base-100 rounded-xl py-0 h-5 leading-5 px-2 my-0 -ml-1;
  }
  .ant-select-arrow,
  .ant-select-clear {
    @apply text-base-content;
  }
}

.ant-form {
  .icon {
    @apply absolute right-3 z-10 size-5 fill-base-content;
    top: calc(50% - 0.6rem);
  }
  input[type='file'] {
    @apply hidden;
  }
  &-item-has-error .ant-input {
    @apply border-error;
  }
  .ant-form-item {
    @apply mb-4;
    &-label {
      @apply overflow-visible pr-2;
      > label {
        @apply font-medium text-base-content/90;
        &.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
          &::before {
            content: none;
          }
          &::after {
            @apply contents text-error visible;
            content: ' *' !important;
          }
        }
      }
    }
  }

  .table .ant-form-item {
    @apply mb-0;
    .ant-input,
    .ant-picker,
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      @apply border-0 rounded-none;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0;
    -webkit-appearance: none;
  }
  .input-otp {
    @media (min-width: 640px) {
      @apply justify-between px-3;
    }
    &__field {
      @apply h-12 w-12 rounded-xl max-w-none;
    }
  }
}

.ant-tabs {
  .ant-tabs-ink-bar {
    @apply bg-primary;
  }
  &.ant-tabs-top > .ant-tabs-nav:before {
    @apply border-b border-base-200;
  }
  .ant-tabs-tab {
    @apply !bg-transparent py-2.5;
    &:hover {
      @apply !text-primary;
    }
    .ant-tabs-tab-btn {
      @apply text-base !text-base-content font-normal uppercase;
    }
    &-active {
      .ant-tabs-tab-btn {
        @apply !text-primary !bg-base-100 !opacity-100 font-bold;
      }
    }
  }
}

.ant-switch {
  @apply bg-base-100;
  &:hover {
    @apply !bg-base-100;
  }
  &-inner-unchecked {
    @apply !-mt-5;
    & svg {
      @apply w-4 ~'pl-0.5';
    }
  }
  &-checked {
    @apply !bg-success;
    &:hover {
      @apply !bg-success;
    }
  }
}

.ant-picker {
  &.ant-picker-outlined {
    @apply rounded-lg border px-4 border-solid border-base-content/20 h-10 items-center w-full bg-base-100 text-base-content;

    &:hover,
    .ant-picker-input > input,
    .ant-picker-suffix {
      @apply text-base-content;
    }

    &:hover,
    &.ant-picker-status-error:not(.ant-picker-disabled) {
      @apply bg-base-100;
    }
  }
  & &-separator,
  & &-clear {
    @apply text-base-content;
  }

  &-dropdown {
    .ant-picker-panel-container {
      @apply bg-base-100;
    }

    .ant-picker-header,
    .ant-picker-footer,
    .ant-picker-header button,
    .ant-picker-content th,
    .ant-picker-cell.ant-picker-cell-in-view {
      @apply text-base-content;
    }
    .ant-picker-header,
    .ant-picker-footer {
      @apply border-base-200;
    }
    .ant-picker-cell {
      @apply text-base-content/30;
    }
    .ant-picker-cell-disabled {
      &.ant-picker-cell {
        @apply text-base-300;
        &::before {
          @apply bg-base-200/50;
        }
      }
      &.ant-picker-cell-today .ant-picker-cell-inner::before {
        @apply border-primary/50;
      }
    }
    .ant-picker-cell-in-view.ant-picker-cell-in-range:not(.ant-picker-cell-disabled):before,
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled):before,
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled):before {
      @apply bg-base-300;
    }
    .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
    .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
      @apply bg-primary text-primary-content;
    }
    .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
      @apply border-primary;
    }
  }
}

.ant-checkbox,
.ant-radio {
  &-inner,
  &-checked:after {
    @apply size-4 rounded-lg border-2;
  }

  &-wrapper {
    @apply text-base-content;
  }
  &-wrapper &:not(&-disabled):hover &-inner,
  &-wrapper:not(&-wrapper-disabled):hover &-inner {
    @apply border-primary;
  }

  &-wrapper:not(&-wrapper-disabled):hover &-checked:not(&-disabled) &-inner,
  &-wrapper &-checked:not(&-disabled) &-inner,
  &-wrapper &-checked:not(&-disabled):hover &-inner {
    @apply bg-primary border-primary;
  }

  &-wrapper .ant-checkbox-inner:after {
    @apply border-base-100;
  }
  &-wrapper .ant-radio-inner::after {
    @apply bg-base-100 size-7;
    margin-block-start: -14px;
    margin-inline-start: -14px;
  }
  &-wrapper &-inner {
    @apply bg-base-100 border-base-content/20 size-5;
  }
}

.sun-editor {
  @apply bg-base-100 text-base-content;

  &-editable {
    font-family:
      Plus Jakarta Sans,
      ui-sans-serif,
      system-ui,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }
  .se-toolbar {
    @apply bg-base-300/50 outline-base-content/20;
  }
  .se-container > input {
    @apply hidden;
  }
  .se-btn {
    @apply w-8 h-8 leading-6 text-base-content;
  }
  .se-resizing-bar {
    @apply bg-base-300/50 text-base-content border-base-content/20;
  }
  & &-editable {
    @apply text-justify bg-base-100 text-base-content;
    figure {
      @apply inline-block text-center w-full py-5;
      figcaption {
        @apply bg-base-100 border border-base-200 mt-1 py-1 px-2 inline-block;
      }
    }
    p {
      @apply mb-3;
    }
    img {
      @apply mx-auto;
    }
    h1 {
      @apply text-5xl text-primary mb-7 mt-0;
    }
    h2 {
      @apply text-4xl text-primary mb-6 mt-0;
    }
    h3 {
      @apply text-3xl text-primary mb-5 mt-0;
    }
    h4 {
      @apply text-2xl text-primary mb-4 mt-0;
    }
    h5 {
      @apply text-xl text-primary mb-4 mt-0;
    }
    h6 {
      @apply text-lg text-primary mb-4 mt-0;
    }
    table {
      @apply w-full my-3;
      th,
      td {
        @apply text-left border border-base-100 px-2 ~'py-1.5';
      }
    }
    blockquote {
      @apply mb-7 mx-auto relative table text-justify p-4 border-0 m-0 text-inherit;
      background:
        linear-gradient(to right, theme('textColor.primary') 2px, transparent 1px) 0 100%,
        linear-gradient(to left, theme('textColor.primary') 2px, transparent 1px) 100% 0,
        linear-gradient(to bottom, theme('textColor.primary') 2px, transparent 1px) 100% 0,
        linear-gradient(to top, theme('textColor.primary') 2px, transparent 1px) 0 100%;
      background-size: 20px 20px;
      background-repeat: no-repeat;

      &:before,
      &:after {
        @apply font-black absolute text-primary text-3xl;
        font-family:
          Line Awesome Free,
          serif;
      }

      &:before {
        @apply -top-3 right-full -mr-3;
        content: '"';
      }

      &:after {
        @apply -bottom-3 left-full top-auto -ml-3;
        content: '"';
      }
    }
  }
}
